<!DOCTYPE html>
<html>
  <head>
    <title>Capstoneprojectapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <header>Capstone Blog</header>

    <%= yield %>

    <% unless current_page?(root_path) %>
      <%= link_to 'Home', root_path, class: 'btn btn-outline-primary btn-block my-1' %>
    <% end %>
 
    <% if user_signed_in? %>
      <%= link_to 'New Post', new_post_path, class: 'btn btn-outline-primary btn-block my-1' %>
      <%= link_to "Profile", edit_user_registration_path, class: 'btn btn-outline-primary btn-block my-1' %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, data: {confirm:"Are you sure?"}, class: 'btn btn-outline-primary btn-block my-1' %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: 'btn btn-outline-primary btn-block my-1' unless current_page?(new_user_session_path) %>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-primary btn-block' unless current_page?(new_user_registration_path) %>


      <footer>Footer</footer>
    <% end %>

    </div>
  </body>
</html>
